.root {
  margin-top: 18px;
  padding-top: 80px;
}

.desc {
  margin: 82px auto 0;

  max-width: 1116px;

  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
}

.button {
  margin: 98px auto 0;
}
