.root {
  margin: 0 12.5px;

  width: 262px;
  height: 334px;

  background-color: rgb(249, 185, 255);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  box-sizing: border-box;

  &::after {
    content: "Здесь будет картинка";
    padding: 10px;

    display: flex;

    border-radius: 5px;
    border: 1px solid;
  }
}

.info {
  bottom: -24px;
  left: 23px;
  padding: 5px 0;

  width: 216px;
  height: 48px;

  font-family: "Open Sans";
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.1px;

  background-color: #07c2d5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;

  border-radius: 5px;
}

.name {
  font-weight: 400;
  font-size: 14px;
}

.title {
  margin-top: 2px;
  font-weight: 300;
  font-size: 12px;
}
