.root {
  background-color: #dbdbdb;

  &:hover {
    box-shadow: 2px 3px 8px 0px #000000;
    border-radius: 10px;
  }
}

.logo {
  padding: 0;
  width: 158px;
  height: 94px;

  display: block;

  filter: invert(50%);

  background-size: contain;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

  list-style-type: none;

  &:hover {
    width: 155px;
    filter: invert(0%);
  }
}
