.root {
  padding-right: 76px;

  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.1px;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-sizing: border-box;

  position: relative;

  cursor: pointer;

  &:hover {
    padding-right: 0;
    width: 436px;

    display: grid;
    grid-template-columns: 270px 166px;

    box-shadow: 6px 6px 4px -2px rgba(0, 0, 0, 0.53);
    z-index: 3;
  }
}

.backgroundImage {
  width: 100%;
  height: 100%;

  background-position: left top 90px;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: inherit;

  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);

  .root:hover & {
    background-position: right top;
    background-size: 180px 244px;
    filter: grayscale(0%);
  }
}

.logo {
  margin-top: 22px;
  margin-left: 32px;

  width: 150px;
  height: 78px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 5px;

  filter: invert(50%);

  .root:hover & {
    margin: 12px 14px 0 14px;
    margin-top: 12px;

    margin-right: 14px;
    justify-self: flex-end;
    filter: invert(0%);

    grid-column: 2/3;
  }
}

.title {
  margin-top: 22px;
  margin-left: 32px;

  width: 155px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  word-break: break-word;
  overflow: hidden;

  z-index: 1;

  .root:hover & {
    margin-top: 20px;
    margin-left: 20px;

    width: 230px;
    height: 163px;

    font-size: 13px;
    line-height: 20px;

    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.button {
  margin: 33px auto 0;

  width: 89px;

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  z-index: 1;

  .root:hover & {
    margin-top: 20px;
    margin-left: 12px;

    align-self: flex-start;
    grid-column: 1/2;

    &::before {
      content: "";
      margin-right: 16px;
      height: 24px;
      border-left: 1px solid #07c2d5;
    }
  }
}
