.root {
  width: 265px;
  height: 401px;

  font-family: Open Sans;

  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #dbdbdb;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  border-radius: 10px;
  &:hover {
    color: #fff;
    background-color: #00b8d2;
    border: 3px solid #fff;
    width: 286px;
    height: 434px;
    transition: all 0.2s ease-in-out;
  }
}

.title {
  margin-top: 32px;

  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1px;
}

.icon {
  border: 1px solid #fff;
  min-width: 72px;
  min-height: 72px;

  background-color: #fff;
  color: #9e9e9e;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 36px;

  .svg {
    font-size: 40px;
  }

  .root:hover & {
    color: #00b8d2;
  }
}

.desc {
  margin-top: 59px;

  max-width: 211px;

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;

  .root:hover & {
    font-weight: 400;
  }
}

.button {
  margin-top: 48px;
  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.1px;

  background-color: transparent;

  border: none;
  cursor: pointer;

  .root:hover & {
    color: #0160a7;
    min-width: 230px;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 5px;
  }

  &:active {
    border: 1px solid #00b8d2;
  }
}
