.root {
  padding-top: 80px;
  margin: 47px auto 0;

  width: 1115px;
}

.info {
  margin-top: 98px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.message {
  margin-top: 30px;
  margin-left: 112px;
  max-width: 323px;

  color: #fff;

  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
}
