.root {
  padding: 0;
  padding-top: 7px;

  width: 154px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  position: absolute;

  list-style-type: none;

  background: linear-gradient(
    360deg,
    rgba(7, 194, 213, 0.2) 0%,
    rgba(7, 194, 213, 0) 102.55%
  );
}

.item {
  width: 100%;
  min-width: 95px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    font-weight: 300;

    background: linear-gradient(
      90deg,
      rgba(4, 114, 126, 1) 100%,
      rgba(7, 194, 213, 1) 100%
    );

    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
