.root {
  margin-top: 126px;

  display: flex;
  flex-direction: column;
}

.partners {
  margin: 0 34px;

  display: flex;
  gap: 34px;
}

.buttons {
  button {
    width: 48px;
  }
}

.desc {
  margin: 62px auto 0;
  max-width: 1062px;
  height: 60px;

  color: #fff;

  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
}
