.root {
  margin-top: 23px;
  margin-left: auto;
  width: 204px;

  font-family: Open Sans;
  letter-spacing: 0.1px;

  color: #fff;

  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.list {
  padding: 0;
  margin: 10px 0 0;
  list-style-type: none;
}

.link {
  margin-top: 4px;

  height: 34px;

  font-size: 9px;
  font-weight: 300;
  line-height: 10px;

  color: #fff;

  display: grid;
  grid-template-rows: repeat(2, minmax(10px, 34px));
  column-gap: 8px;

  position: relative;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    margin-left: 3px;

    color: #07c2d5;

    transition: all 0.3s ease-in-out;
  }
}

.img {
  width: 48px;
  height: 34px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 2px;
}

.hoverImg {
  width: 48px;
  height: 34px;

  top: 0;
  left: 0;
  position: absolute;

  border-radius: 2px;

  .link:hover & {
    background: rgba(7, 194, 213, 0.4);
    transition: all 0.3s ease-in-out;
  }
}

.cardTitle {
  height: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-line;
  word-break: break-word;
  overflow: hidden;
}

.date {
  margin-top: auto;
  grid-area: "date";
  grid-column: 2/3;
  opacity: 0.5;
}
