.root {
  max-width: 598px;
  max-height: 214px;

  font-family: Open Sans;
  letter-spacing: 0.1px;

  display: flex;
  justify-content: stretch;
  align-items: stretch;

  position: absolute;
  top: 474px;
}

.content {
  display: flex;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.opened {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
}

.link {
  padding-left: 51px;

  max-width: 534px;
  max-height: 214px;

  color: #fff;
  background-color: rgba($color: #0a9495f0, $alpha: 0.94);

  display: grid;
  grid-template-rows: repeat(3, minmax(10px, 214px));

  text-decoration: none;

  &:hover {
    color: #07c2d5;
    transition: all 0.3s ease-in-out;
  }
}

.title {
  margin-top: 23px;

  max-width: 320px;
  max-height: 76px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-line;
  word-break: break-word;
  overflow: hidden;

  grid-row: 1/2;
}

.desc {
  margin-top: 12px;

  max-width: 320px;
  max-height: 38px;

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-line;
  word-break: break-word;
  overflow: hidden;

  grid-row: 2/3;
}

.date {
  margin-top: 32px;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  grid-row: 3/4;
}

.img {
  margin-left: 5px;
  width: 160px;
  height: 214px;

  background: url("../../../../assets/images/intro/intro-journal-epi.png")
    center/cover no-repeat;

  grid-column: 2/3;
  grid-row: -1/1;

  .link:hover & {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}

.btn {
  margin: 0;
  padding: 0;

  width: 64px;
  height: 214px;

  font-size: 18px;
  font-weight: 300;
  line-height: 25px;

  color: #fff;
  background-color: #583679;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  .opened + & {
    position: static;
    transition: all 3s ease-in-out;
  }

  span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
