.root {
  width: 206px;
  font-family: Open Sans;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: space-between;

  position: relative;
  color: #fff;

  &::after {
    content: "";
    top: -10px;
    right: -45px;

    height: calc(100% + 30px);

    color: #fff;

    position: absolute;
    border-right: 1px solid #fff;
  }
}

.city {
  font-size: 18px;
  font-weight: 700;
}

.adress {
  font-size: 14px;
  font-weight: 400;
}

.phone {
  font-size: 14px;
  font-weight: 400;
}

.email {
  font-size: 14px;
  font-weight: 400;
}
