.root {
  margin-top: 20px;
  padding: 80px 48px 0;

  max-width: 1440px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.projects {
  margin: 0 18px;

  width: 1119px;

  display: grid;
  grid-row-gap: 18px;
  grid-column-gap: 21px;
  grid-template-columns: repeat(4, minmax(209px, 436px));
  grid-template-rows: repeat(2, 244px);

  overflow: hidden;

  .card {
    &:nth-of-type(even) {
      grid-row: 2/3;
    }
  }
}
