.root {
  margin: 0 auto;

  width: 552px;
  height: 96px;

  font-family: Open Sans;
  font-size: 36px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0.1px;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  text-transform: uppercase;

  &::before {
    content: "";
    bottom: 0;
    left: 0;

    width: 30px;
    height: 30px;

    position: absolute;

    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
  }

  &::after {
    content: "";
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;

    position: absolute;

    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  span {
    color: #00dfff;
  }
}
