.root {
  margin-top: 18px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.button {
  margin-top: 88px;
  align-self: center;
}

.publications {
  margin-right: 18px;
  margin-left: 18px;
  width: 1118px;
  height: 336px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 555px));
  justify-content: space-between;
  align-content: space-between;

  .card {
    justify-self: center;

    &:nth-of-type(even) {
      grid-row: 2/3;
    }
  }
}
