.root {
  width: 549px;
  height: 160px;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  color: #000;
  background-color: #fff;

  border-radius: 10px;

  &:hover {
    width: 555px;

    background: linear-gradient(180deg, #0160a7 0%, #00b8d2 100%);
    background-image: url("../../../../assets/images/publications/card-hover.png"),
      linear-gradient(180deg, #0160a7 0%, #00b8d2 100%);
    background-blend-mode: soft-light;

    transition: all 0.5s ease-in-out;

    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
}

.title {
  margin-top: 22px;
  margin-left: 25px;

  max-width: 300px;

  font-weight: 700;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-line;
  word-break: break-word;
  overflow: hidden;

  .root:hover & {
    margin: 24px auto 0 auto;
    max-width: 242px;
    color: #fff;

    text-align: center;
  }
}

.desc {
  margin-top: 16px;
  margin-left: 25px;

  max-width: 510px;

  font-weight: 400;

  .root:hover & {
    display: none;
  }
}

.button {
  width: 212px;
  height: 34px;

  font-size: 12px;

  font-weight: 400;

  color: #0160a7;

  display: none;

  border: none;
  cursor: pointer;

  .root:hover & {
    margin: 15px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    letter-spacing: 0.1px;

    border-radius: 10px;
    text-transform: uppercase;
  }

  &:active {
    border: 1px solid #00b8d2;
  }
}
