.root {
  margin-top: 75px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}

.lab {
  text-transform: capitalize;
}

.content {
  margin-top: 82px;
  display: flex;

  justify-content: center;
  align-items: stretch;
}

.about {
  max-width: 550px;
  margin-right: 18px;

  font-family: Open Sans;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.info {
  margin-top: 32px;
  margin-left: 36px;

  max-width: 498px;

  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.1px;

  position: relative;

  &::before {
    content: "";

    width: 4px;
    height: 4px;

    background-color: #07c2d5;

    display: block;

    position: absolute;
    top: 4px;
    left: -16px;
    border-radius: 50%;

    box-shadow: -8px 0px #07c2d5, -4px 4px#07c2d5, 0 8px#07c2d5,
      -4px 12px#07c2d5, -8px 8px#07c2d5, -12px 4px#07c2d5, -12px 12px#07c2d5;
  }
}

.button {
  margin-top: 84px;
}

.grid {
  padding: 0;
  margin: 0;

  width: 550px;
  height: 476px;

  /* колонки minmax 153px 323px */
  /* строки  minmax 108px 202px*/

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(153px, auto));
  grid-template-rows: repeat(auto-fill, minmax(108px, auto));

  position: relative;
  list-style-type: none;

  li {
    border-radius: 10px;
  }

  li:nth-of-type(1) {
    width: 209px;
    height: 108px;
  }

  li:nth-of-type(2) {
    margin-left: 5px;
    width: 153px;
    height: 126px;
  }

  li:nth-of-type(3) {
    width: 152px;
    height: 202px;
  }

  li:nth-of-type(4) {
    width: 209px;
    height: 154px;
  }

  li:nth-of-type(5) {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;

    width: 153px;
    height: 192px;

    grid-column: 2/3;
    grid-row: 2/4;
  }

  li:nth-of-type(6) {
    margin-top: -28px;

    width: 152px;
    height: 116px;
    line-height: 100%;

    grid-row: -2/-3;
    grid-column: -1/-2;
  }

  li:nth-of-type(7) {
    margin-top: auto;

    width: 209px;
    height: 178px;
    grid-column: 1/2;
    grid-row: -1/-3;
  }

  li:nth-of-type(8) {
    width: 323px;
    height: 122px;

    grid-column: 2/4;
    grid-row: -1/-2;
  }
}
