.root {
  margin: 32px auto 0;

  width: 1116px;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  perspective: 750px;
  overflow: hidden;
  text-transform: uppercase;
}

//  сам инпут скрыт с помощью этого класса
.hiddenStandartCheckbox {
  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.label {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;

  position: relative;
  display: flex;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  animation: r-n 0.5s;
  user-select: none;
  will-change: transform;

  cursor: pointer;

  background-color: #dbdbdb;

  .checkbox:checked + & {
    animation-name: r-p;
  }

  @keyframes r-p {
    50% {
      transform: rotateY(45deg);
    }
  }

  @keyframes r-n {
    50% {
      transform: rotateY(-45deg);
    }
  }

  // indicator
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    background-color: #04727e;
    transform: translateX(-75%);
    transition: transform 0.3s ease-in-out;

    .checkbox:checked + & {
      transform: translateX(25%);
    }
  }
}

.value {
  // ширина кнопок определяется паддингами
  padding: 12px 214px;

  position: relative;
  z-index: 1;

  &::after {
    content: attr(data-value);
  }

  &::before {
    --i: var(--x);
    content: attr(data-value);
    color: #e5dfdf;

    position: absolute;

    opacity: calc((var(--i) + 1) / 2);
    transition: opacity 0.1s;
    transition-delay: calc(0.1s * (var(--i) - 1) / -2);

    .checkbox:checked + .label & {
      --i: calc(var(--x) * -1);
    }
  }

  &:nth-of-type(1)::before {
    --x: 1;
  }

  &:nth-of-type(2)::before {
    --x: -1;
  }
}
