.root {
  padding: 0 48px;
  width: 100%;
  max-width: 1440px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: sticky;
  top: 0;

  box-sizing: border-box;
  z-index: 9;
}

.wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.logo {
  padding-left: 5px;
  padding-right: 10px;

  color: #ffffff;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  .img {
    margin-right: 18px;

    width: 41px;
    height: 28px;

    background: url("../../assets/images/logo.svg") center/contain no-repeat;

    &:hover {
      color: rgba($color: #07c2d5, $alpha: 1);
    }
  }

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 194, 213, 0.2) 0%,
      rgba(7, 194, 213, 0) 100%
    );

    border-top: 2px solid #07c2d5;
  }
}
