.root {
  max-width: 964px;

  display: flex;
  flex: 1;
  align-items: stretch;

  &::before,
  &::after {
    content: " ";

    margin: auto;

    width: 1px;
    height: 42px;

    background: #ffffff;

    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
}

.list {
  padding: 0;
  margin: 0;

  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  list-style-type: none;
}

.item {
  margin-right: 8px;

  min-width: 95px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  position: relative;
  &:last-child {
    margin-right: 16px;
  }
}

.link {
  height: 100%;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 194, 213, 0.2) 0%,
      rgba(7, 194, 213, 0) 100%
    );
    border-top: 2px solid #07c2d5;
  }
}
