.root {
  margin-top: 82px;
  padding: inherit;
  padding-top: 0;

  max-width: 1440px;

  display: flex;
  justify-self: center;
  align-self: center;

  box-sizing: border-box;
}

.button {
  width: 96px;

  font-size: 30px;

  color: #fff;
  background-color: rgba($color: #fff, $alpha: 0.2);

  position: relative;
  z-index: 3;
  border: none;
  cursor: pointer;

  &:active:not(:disabled) {
    background-color: rgba($color: #07c2d5, $alpha: 0.05);
  }

  &:disabled {
    color: #b9b9b9;
    cursor: default;
  }

  &.prevSlide {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &.nextSlide {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
