.root {
  margin-top: 32px;
  margin-bottom: 47px;

  height: 115px;
  width: 155px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  color: #fff;
  width: 100%;

  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  .img {
    margin-right: 18px;
    width: 41px;
    height: 28px;

    background: url("../../../assets/images/logo.svg") center/contain no-repeat;
  }

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 194, 213, 0.2) 0%,
      rgba(7, 194, 213, 0) 100%
    );
  }
}

.info {
  font-family: Open Sans;

  font-size: 9px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.socials {
  width: 79px;
  height: 17px;
  flex: 0;

  ul {
    width: 100%;
    height: 17px;

    margin-bottom: 0;
    margin-top: 0;
  }

  li {
    width: 17px;
    height: 100%;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
