.root {
  margin-top: 113px;
  padding-left: 155px;
  padding-right: 161px;
  height: 193px;

  background: linear-gradient(180deg, #1b1714 0%, #000000 100%);

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.desc {
  margin-left: 79px;
  margin-top: 32px;

  max-width: 208px;
  max-height: 126px;

  font-family: Open Sans;
  font-size: 9px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;

  color: #fff;
}

.about {
  margin-left: 135px;
}

.development {
  margin-left: 64px;
}
