.root {
  max-width: 171px;

  display: flex;
  flex: 1;
  justify-content: stretch;
  align-items: stretch;
}

.list {
  padding: 0;
  margin-left: auto;

  max-width: 135px;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

.icon {
  width: 30px;
  height: 30px;

  background-color: #9e9e9e;
  color: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 100%;
  cursor: pointer;

  border-radius: 50%;

  &:hover {
    background-color: #07c2d5;
  }

  .svg {
    text-align: center;
  }
}
