.root {
  margin-top: 151px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.container {
  margin-top: 82px;

  max-width: 1118px;
}

.desc {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1px;

  color: #fff;
}

.list {
  margin-top: 90px;
  margin-bottom: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}
