.root {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Open Sans;
  letter-spacing: 0.1px;
  color: #fff;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.list {
  padding: 0;
  list-style-type: none;
}

.item {
  margin-top: 8px;
  font-size: 9px;
  font-weight: 300;
  &:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 194, 213, 0.2) 0%,
      rgba(7, 194, 213, 0) 100%
    );
  }
}

.link {
  text-decoration: none;
  color: #fff;
}
