.root {
  font-family: Open Sans;

  display: grid;
  grid-template-columns: repeat(2, 209px);
  row-gap: 12px;
  column-gap: 18px;
}

.input {
  padding-left: 12px;
  width: calc(209px - 12px);
  height: 31px;

  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;

  background-color: #fff;

  border: none;

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.5);
  }

  &:focus {
    outline-color: rgba(7, 194, 213, 0.9);
  }
}

.name {
  grid-row: 1/2;
}

.phone {
  grid-row: 2/3;
  // убираем стрелки у input type='number'
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.email {
  grid-row: 3/4;
}

.button {
  // + отступ сверху от column-gap: 12px
  margin-top: 14px;
  padding-left: 12px;

  width: 209px;
  height: 32px;

  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;

  color: rgba($color: #000000, $alpha: 0.5);

  background-color: #fff;

  position: relative;
  grid-row: 4/5;

  border: none;
  text-align: start;
  cursor: pointer;

  &::after {
    content: "➔";
    font-size: 16px;
    color: #b9b9b9;
    position: absolute;
    right: 10px;
  }

  &:hover {
    background-color: #00b8d2;

    &::after {
      // стрелка
      color: rgba($color: #000, $alpha: 0.5);
    }
  }

  &:active {
    border: 2px solid #00b8d2;
  }

  &:focus {
    outline-color: rgba(7, 194, 213, 0.9);
  }
}

.textarea {
  padding-top: 6px;
  padding-left: 12px;
  grid-row: 1/4;
  resize: none;
  border: none;
  &:focus {
    outline-color: rgba(7, 194, 213, 0.9);
  }

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}
