.root {
  margin: 44px auto 0;
  max-width: 1116px;

  color: #000;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  width: 661px;

  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: left;
}

.title {
  font-weight: 600;
}

.desc {
  margin-top: 30px;
  max-width: 450px;
  font-weight: 400;
}

.images {
  display: flex;
  align-content: stretch;
  justify-content: stretch;
  gap: 16px;

  span {
    width: 208px;
    height: 292px;

    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  span:nth-of-type(odd) {
    box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
  }

  span:nth-of-type(even) {
    box-shadow: -5px -5px 0px 0px rgba(255, 255, 255, 1);
  }
}
