.root {
  margin-top: 154px;
  margin-right: 48px;

  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.container {
  max-width: 549px;

  font-family: Open Sans;
  line-height: 68px;
  letter-spacing: 0.1px;

  align-self: flex-end;

  text-align: left;
}

.title {
  max-height: 289px;

  font-size: 64px;
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.desc {
  margin-top: 13px;
  height: 69px;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: stretch;
}

.button {
  margin-top: 52px;
}
