.app {
  margin: 0 auto;
  min-height: 100vh;
  min-width: min-content;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  background-color: #dbdbdb;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;

  main {
    flex: 1;
  }
}
