.root {
  width: 324px;
  height: 64px;

  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  color: #fff;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #fff;
  border-radius: 37px;
  cursor: pointer;

  &::after {
    content: "➝";
    margin-left: 8px;
    font-size: 28px;
  }

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 194, 213, 0.2) 0%,
      rgba(7, 194, 213, 0) 100%
    );
  }

  &:active {
    border-color: #00b8d2;
  }
}
